@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
$body__padding: 0 10vw;
$dark-bg: #162e44;
$secondry-color: #ff6666;
$third-color: #213327;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
input {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}
.flex-wraper {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 0 1rem;
}

section {
  padding: 3rem 0;
}
.view-more {
  text-align: center;
}
.view-more__btn {
  border: 2px solid $secondry-color;
  background-color: transparent;
  padding: 1rem 2.5rem;
  font-size: 1.2rem;
  letter-spacing: 0.8px;
  cursor: pointer;
  margin: 3rem 0;
  transition: all 0.5s ease;
  font-weight: 500;
  a {
    text-decoration: none;
    color: inherit;
  }
  &:hover {
    border: 2px solid $secondry-color;
    background-color: $secondry-color;
    color: white;
    border-radius: 10px;
  }
}
.section-header {
  font-size: 2rem;
  color: $secondry-color;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  position: relative;
  margin: 1rem 0 3rem 0;
}
.inter {
  position: absolute;
  top: 80px;
  left: 0;
}
.haeder-dark {
  background-color: rgba(0, 0, 0, 0.739);
}
header {
  height: 80px;
  //   box-shadow: 0px 0px 3px 0.5px rgba(50, 50, 50, 0.55);
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  color: white;
  .flex-wraper {
    justify-content: space-between;
    align-items: center;
    .logo {
      flex-basis: 200px;
      margin: 0.5rem 1rem;
      img {
        max-width: 100%;
      }
    }
    .navbar {
      color: inherit;
      ul {
        display: flex;
        align-items: center;

        li {
          margin: 0.5rem 1rem;
          position: relative;
          a {
            text-decoration: none;
            color: inherit;
            padding: 1rem;
            transition: all 0.2s ease;
          }
          &:hover a {
            color: $secondry-color;
          }
        }
        li:last-child {
          margin: 0.5rem 0 0.5rem 1rem;
        }
        .active-link {
          color: $secondry-color;
          font-weight: 700;
        }
      }
    }
    .mobil-menu {
      display: none;
    }
  }
}

.homepage-hero {
  margin: 0;
  padding: 0;

  background: linear-gradient(
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.45) 25%,
      transparent
    ),
    url("https://images.unsplash.com/photo-1542359649-31e03cd4d909?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80")
      50% no-repeat;
  z-index: 2;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    background-color: hsla(0, 0, 0, 0.424);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .flex-wraper {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .homepage-hero__text {
      position: relative;
      color: #fff;
      margin-bottom: 2rem;
      h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
      p {
        font-size: 1.3rem;
        line-height: 2;
      }
    }
    .homepage-planner {
      margin: 0 auto;
      position: relative;
      z-index: 2;
      color: white;
      background-color: rgba(47, 47, 47, 0.267);
      border-radius: 5px;
      padding: 1rem;
      width: 100%;

      .homepage-search__form {
        padding: 2rem;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        // flex-direction: column;
        input {
          width: 25%;
          max-width: 100%;
          padding: 1rem;
          border-radius: 5px;
          border: 0;
          font-size: 0.9rem;
          margin-right: 0.75rem;
          &:focus {
            outline: none;
          }
        }
        input[type="submit"] {
          width: 20%;
          background-color: $secondry-color;
          border: 0;
          color: white;
          font-size: 1.2rem;
          letter-spacing: 1.2px;
          font-weight: 500;
          cursor: pointer;
        }
      }
    }
  }
}
.destination {
  // text-align: center;
  position: relative;
  z-index: 3;
  .flex-wraper {
    flex-direction: column;
    .destination-collection {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .destination-collection__feature {
        flex-basis: 40%;
        overflow: hidden;
        position: relative;
        border-radius: 5px;
        h1 {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          z-index: 3;
        }
        img {
          transition: transform 0.5s;
          object-fit: cover;
          width: 100%;
          height: 100%;
          position: relative;
          display: inline-block;
          z-index: -1;
        }

        &:hover img {
          transform: scale(1.1);
        }
        //   &:hover h1 {
        //     visibility: visible;
        //     opacity: 1;
        //   }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.178);
          z-index: 2;
        }
      }
      .destination-collection__items {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        flex-basis: 58%;
        .destination-collection__item {
          flex-basis: 48%;
          height: 350px;
          overflow: hidden;
          position: relative;
          border-radius: 5px;
          h1 {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            z-index: 3;
          }
          img {
            transition: transform 0.5s;
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: relative;
            display: inline-block;
            z-index: -1;
          }

          &:hover img {
            transform: scale(1.1);
          }
          //   &:hover h1 {
          //     visibility: visible;
          //     opacity: 1;
          //   }

          &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.178);
            z-index: 2;
          }
        }
      }
    }
  }
}
.top-plans {
  // text-align: center;
  background-color: #f7f7f7;
  .flex-wraper {
    flex-direction: column;
  }
  .plans-collection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;

    .plans-collection__item {
      text-decoration: none;
      width: 48%;
      display: flex;
      flex-direction: column;
      color: $dark-bg;
      .plans-collection__item-text {
        line-height: 2;
      }
      img {
        object-fit: cover;
        max-width: 100%;
        height: 300px;
        margin-bottom: 1rem;
      }
    }
  }
}

.footer {
  min-height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0.918), rgba(0, 0, 0, 0.904) 25%),
    url("https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80")
      50% no-repeat;
  background-size: cover;
  color: white;
  padding: 3rem 0;
  h6 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.5px;
  }

  .flex-wraper {
    justify-content: space-between;
    align-items: center;
    align-items: center;
    height: 100%;
  }
  .footer-title {
    flex-basis: 70%;
    display: flex;
    justify-content: space-between;
    color: inherit;
    .footer-title__item {
      flex-basis: 48%;
      padding: 1rem;
      align-items: center;

      ul {
        display: flex;
        flex-direction: column;
        li {
          margin-bottom: 1rem;
          a {
            color: inherit;
            text-decoration: none;
            font-size: 0.8rem;
            font-weight: 300;
            transition: color 0.3s ease;
            &:hover {
              color: $secondry-color;
            }
          }
        }
      }
    }
  }
  .footer-social {
    flex-basis: 25%;
    text-align: center;
    .socil-links {
      display: flex;
      justify-content: center;
      li {
        margin: 0.75rem;
        svg {
          width: 30px;
          height: 30px;
          fill: white;
          stroke: white;
          transition: all 0.3s;
        }
        &:hover svg {
          fill: $secondry-color;
          stroke: $secondry-color;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  header {
    .flex-wraper {
      .logo {
        flex-basis: 150px;
        margin: 0.5rem 1rem;
        img {
          max-width: 100%;
        }
      }
      .navbar {
        color: inherit;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 8;
        transform: translateX(100%);
        transition: transform 0.4s ease;
        height: 100vh;
        color: $dark-bg;
        width: 100vw;
        ul {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 80%;
          background-color: white;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          padding-top: 100px;
          z-index: 99999;

          li {
            margin: 1.5rem;
            position: relative;

            a {
              text-decoration: none;
              color: inherit;
              padding: 1rem;
              font-size: 1.3rem;
              transition: all 0.2s ease;
            }
            &:hover a {
              color: $secondry-color;
            }
          }
          li:last-child {
            margin: 0.5rem 0 0.5rem 1rem;
          }
          .active-link {
            color: $secondry-color;
            font-weight: 700;
          }
        }
      }
      .navbar-links__togle {
        transform: translateX(0);
      }
      .mobil-menu {
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 9;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        width: 40px;
        height: 45px;
        span {
          position: absolute;
          display: block;
          height: 4px;
          width: 100%;
          left: 0;
          background-color: $secondry-color;
          transform: rotate(0deg);
          opacity: 1;
          border-radius: 10px;
          transition: 0.25s ease-in-out;
        }
        span:nth-child(1) {
          top: 0px;
        }
        span:nth-child(2) {
          top: 10px;
        }
        span:nth-child(3) {
          top: 20px;
        }
      }
      .mobil-menu.open {
        span:nth-child(1) {
          top: 20px;
          transform: rotate(135deg);
        }
        span:nth-child(2) {
          top: 20px;
          opacity: 0;
          left: -60px;
        }
        span:nth-child(3) {
          top: 20px;
          transform: rotate(-135deg);
        }
      }
    }
  }
  .homepage-hero {
    .flex-wraper {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      .homepage-hero__text {
        position: relative;
        margin-bottom: 2rem;
        h1 {
          font-size: 2.2rem;
          margin-bottom: 1rem;
        }
        p {
          font-size: 1.1rem;
          line-height: 2;
        }
      }
      .homepage-planner {
        margin: 0 auto;
        position: relative;
        z-index: 2;
        color: white;
        background-color: rgba(47, 47, 47, 0.267);
        border-radius: 5px;
        padding: 1rem;
        width: 100%;

        .homepage-search__form {
          padding: 1rem;

          input {
            margin-right: 0rem;
            margin-bottom: 0.75rem;
            width: 100%;
          }
          input[type="submit"] {
            width: 100%;
          }
        }
      }
    }
  }
  .destination {
    .flex-wraper {
      .destination-collection {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        .destination-collection__feature {
          margin-bottom: 1rem;
        }
        .destination-collection__items {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          gap: 1.5rem;
        }
      }
    }
  }
  .top-plans {
    // text-align: center;
    background-color: #f7f7f7;
    .flex-wraper {
      flex-direction: column;
    }
    .plans-collection {
      flex-direction: column;
      .plans-collection__item {
        width: 100%;
      }
    }
  }
  .footer {
    .flex-wraper {
      flex-direction: column;
    }
    .footer-title {
      display: flex;
      justify-content: space-between;
      color: inherit;
      border-bottom: 1px solid white;
      margin-bottom: 1rem;
      .footer-title__item {
        flex-basis: 48%;
        padding: 1rem;
        align-items: center;

        ul {
          display: flex;
          flex-direction: column;
          li {
            margin-bottom: 1rem;
            a {
              color: inherit;
              text-decoration: none;
              font-size: 0.8rem;
              font-weight: 300;
              transition: color 0.3s ease;
              &:hover {
                color: $secondry-color;
              }
            }
          }
        }
      }
    }
    .footer-social {
      flex-basis: 25%;
      text-align: center;
      .socil-links {
        display: flex;
        justify-content: center;
        li {
          margin: 0.75rem;
          svg {
            width: 30px;
            height: 30px;
            fill: white;
            stroke: white;
            transition: all 0.3s;
          }
          &:hover svg {
            fill: $secondry-color;
            stroke: $secondry-color;
          }
        }
      }
    }
  }
}
